---
name: "Hassfest"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hassfest:
    name: "Hassfest"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v3

      - name: "Run hassfest validation"
        uses: home-assistant/actions/hassfest@master
